# Development
*.exe
a.in
a.out
b
c
.idea/
draft/

# task creation
in/
out/
config.yml
tasks/*/*.zip

# LaTeX
__latexindent_temp.tex
*.aux
*.fls
*.log
*.fdb_latexmk

# Python
__pycache__/
*.py[cod]
*$py.class
